<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <%= gravatar_for current_user, size: 192 %>
      <div class="caption">
        <h5><%= current_user.name %></h5>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h3 class="page-header">設定</h3>
    <h4>アカウントの設定</h4>
    <div class="btn-group">
      <%= link_to "アカウントの編集", edit_user_path(current_user), class: "btn btn-primary", role: "button" %>
      <%= link_to "アカウントの削除", home_path, class: "btn btn-danger", role: "button" %>
    </div>
    <h4>ブログの設定</h4>

    <div class="btn-group">
      <%= link_to "ブログの編集", edit_blog_path(current_blog), class: "btn btn-primary", role: "button" %>
      <%= link_to "ブログの削除", blog_path(current_blog), class: "btn btn-danger", role: "button", method: "delete" %>
    </div>

  </div>
</div>
