<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <%= gravatar_for current_user, size: 192 %>
      <div class="caption">
        <h5><%= current_user.name %></h5>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h3 class="page-header"><%= t('settings') %></h3>
    <h4><%= t('account_settings') %></h4>
    <div class="btn-group">
      <%= link_to t('edit_account'), edit_user_path(current_user), class: "btn btn-primary", role: "button" %>
      <%= link_to t('delete_account'), home_path, class: "btn btn-danger", role: "button" %>
    </div>
    <h4><%= t('blog_settings') %></h4>
    <div class="btn-group">
      <%= link_to t('edit_blog'), edit_blog_path(current_blog), class: "btn btn-primary", role: "button" %>
      <%= link_to t('delete_blog'), blog_path(current_blog), class: "btn btn-danger", role: "button", method: "delete" %>
    </div>

  </div>
</div>
